<phpunit bootstrap="../vendor/autoload.php" colors="true">
    <testsuite name="Application Test Suite">
        <directory>./</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory
                    suffix=".php">../tests/</directory>
            <exclude>
                <directory
                        suffix=".phtml">../application/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>